.player {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.player_button_play {
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 120px;
    height: 60px;
    margin: 10px;
}

.player_button_stop {
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 120px;
    height: 60px;
    margin: 10px;
}

.player_button_forward {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    width: 120px;
    height: 60px;
    margin: 10px;
}
